body {
  margin: 0;
  background: #071b16;
  color: #eafff6;
  font-family: Arial;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #0e2f26;
  border-radius: 12px;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
